public/wsdl/client.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Epayco" targetNamespace="http://127.0.0.1:8000/epayco?wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://127.0.0.1:8000/epayco?wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/">
    <!--  create wsdl for create client  -->
    <types>
        <xsd:schema targetNamespace="http://127.0.0.1:8000/epayco?wsdl">
            <xsd:element name="registro_cliente">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Documento" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="Nombres" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="Email" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="Celular" type="xsd:string" minOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"/>
                        <xsd:element name="cod_error" type="xsd:string"/>
                        <xsd:element name="message_error" wsdl:arrayType="xsd:string[]" />

                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="recarga_billetera">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Documento" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="Celular" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="Valor" type="xsd:decimal" minOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="consultar_saldo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Documento" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="Celular" type="xsd:string" minOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="registro_cliente">
        <part name="parameters" element="tns:registro_cliente"/>
    </message>
    <message name="response">
        <part name="parameters" element="tns:response"/>
    </message>
    <message name="recarga_billetera">
        <part name="parameters" element="tns:recarga_billetera"/>
    </message>
    <message name="consultar_saldo">
        <part name="parameters" element="tns:consultar_saldo"/>
    </message>
    <portType name="EpaycoPort">
        <operation name="registro_cliente">
            <input message="tns:registro_cliente"/>
            <output message="tns:response"/>
        </operation>
        <operation name="recarga_billetera">
            <input message="tns:recarga_billetera"/>
            <output message="tns:response"/>
        </operation>
        <operation name="consultar_saldo">
            <input message="tns:consultar_saldo"/>
            <output message="tns:response"/>
        </operation>
    </portType>
    <binding name="EpaycoBinding" type="tns:EpaycoPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="registro_cliente">
            <soap:operation soapAction="http://127.0.0.1:8000/epayco?wsdl#registro_cliente" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="http://127.0.0.1:8000/epayco?wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:http://127.0.0.1:8000/epayco?wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="recarga_billetera">
            <soap:operation soapAction="http://127.0.0.1:8000/epayco?wsdl#recarga_billetera" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="http://127.0.0.1:8000/epayco?wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:http://127.0.0.1:8000/epayco?wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="consultar_saldo">
            <soap:operation soapAction="http://127.0.0.1:8000/epayco?wsdl#consultar_saldo" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="http://127.0.0.1:8000/epayco?wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:http://127.0.0.1:8000/epayco?wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

    </binding>
    <service name="EpaycoService">
        <port name="EpaycoPort" binding="tns:EpaycoBinding">
            <soap:address location="http://127.0.0.1:8000/epayco"/>
        </port>
    </service>
</definitions>